@ant-prefix: ant;

.dn-node-path {
  padding: 4px 10px !important;
  border-bottom: 1px solid var(--dn-panel-border-color);

  .dn-icon {
    font-size: 11px;
  }

  .@{ant-prefix}-breadcrumb-separator {
    margin: 0 4px !important;
  }

  .dn-node-path-item {
    padding: 0;
    color: inherit;
    font: inherit;
    font-size: 12px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}
